/* The Modal (background) */
.modal input, button, input[type="submit"], input[type="reset"], select{
      background: none;
      color: inherit;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 0;
      font: inherit;
      outline: inherit;
      padding: 3px;
}

.modal input[disabled="disabled"]{
  color: #999999;
  border: 1px solid #999999;
}

.modal tags, tags:hover, tags:active{
    border: 1px solid gray;
    border-radius: 5px; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    /*padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30vw;
    min-width: 400px;
    box-shadow: 0 2px 8px -2px black;
    border-radius: 10px;
    position: relative;
}

.header{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    padding: 5px;
}

.footer{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    top:10px;
    right:20px;
    position:absolute;
    display: block;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* msg */
.msgbox{
    border-radius: 10px;
}

.msgalert {
    padding: 20px;
    background-color: #ff6666;
    color: white;
}

.msginfo{
    padding: 20px;
    background-color: #39e600;
    color: white;
}
.dialog{
    width: 40vw;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.modal button{
    border-radius: 10px;
}

.modal button:hover{
    background-color: #6666ff;
    color:#ffffff;
    transition: 0.2s;
    box-shadow: 0 2px 8px -2px gray;
}

.modal button#cancelBtn:hover{
  background-color: #ff6666;
}

button.cancel:hover{
    background-color: #ff6666;
}

/* nav */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  right: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.form_grid{
    display: grid;
    grid-template-columns: 10vw auto;
    padding-bottom: 10px;
}